aiohttp==3.8.5
dynaconf==3.1.11
Flask~=2.2.2
Flask_Executor==1.0.0
google-auth==2.12.0
google-cloud-logging==3.2.2
google-cloud-pubsub==2.13.6
google-cloud-scheduler==2.7.1
google-cloud-secret-manager==2.12.6
googleapis-common-protos==1.56.4
googlemaps==4.6.0
gunicorn==20.1.0
paho_mqtt==1.6.1
protobuf==4.24.4
pymongo==4.2.0
pymyq==3.1.6
Requests==2.31.0
retry==0.9.2
<<<<<<<< HEAD:gcp/requirements.txt
redis~=5.0.1
hvac~=1.2.1
pytz~=2023.3.post1
asyncio~=3.4.3
========
google-cloud-secret-manager
pymongo[srv]
redis
>>>>>>>> 3558127 (restructured for k8s):k8s/src/requirements.txt
